@import url('normalize.css');

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: helvetica-bold;
  min-width: 40em;
}

.left-col {
  width: 60%;
  height: `00%;
  float: left;
}

.right-col {
  width: 40%;
  height: 100%;
  float: left;
  background-color: black;
}

.rotated-text {
  margin-left: -1em;
  height: 100%;
}

#temperature {
  font-size: 15em;
  line-height: 0;
  margin-bottom: 3em;
  height: 100%;
}

.display {
  text-align: right;
  height: 50%;
  margin-top: 50%;
  margin-right: 3%;
  margin-left: -1em;
  position: relative;
   -webkit-transform-origin: translateY(2);
     -moz-transform-origin: translateY(2);
       -o-transform-origin: translateY(2);
          transform-origin: translateY(2);
}
}

#buttons {
  border: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

button {
  border: 0;
  background-color: inherit;
  font-size: 2.7em;
  padding: .1em;
}

#PSM-title {
  background-color: red;
  line-height: 0.9em;
}

#PSM-buttons p {
  font-size: .8em;
}

#PSM-buttons {
  padding-top: 1em;
  padding-bottom: 1em;
}

#powerSavingModeSwitch {
  padding-left: 1em;
  background-color: white;
  font-size: 2em;
}

#energyColor.low-usage {
  color: #27ae60;
}

#energyColor.medium-usage {
  color: #f1c40f;
}

#energyColor.high-usage {
  color: #c0392b;
}

#PSM-title.low-usage {
  background-color: #27ae60;
}

#PSM-title.medium-usage {
  background-color: #f1c40f;
}

#PSM-title.high-usage {
  background-color: #c0392b;
}