<!DOCTYPE html>
<html>
  <head>
    <title>Thermostat2</title>
    <link rel="stylesheet" href="thermo-style-2.css">
  </head>
  <body>

      <section class="left-col">
        <section class="display">
          <span id="temperature">??</span>
<<<<<<< HEAD
=======
          <section id="buttons">
            <button class="increaseTemp">+</button>
            <button class="decreaseTemp">-</button>
            <button class="reset">reset</button>
          </section>
          <section id="PSM-title">
            <label id="powerSafeModeSwitch">
            power saving mode</label>
          </section>
          <section id ="PSM-buttons">
            <p><button class="PSM-on">on</button></p>
            <p><button class="PSM-off">off</button></p>
          </section>
>>>>>>> d9dd173472b1ee856e0d6b42576691303895d087
        </section>
      </section>
      <section class="right-col">
        <img src="degrees.svg" class="rotated-text">
      </section>

<<<<<<< HEAD
=======

>>>>>>> d9dd173472b1ee856e0d6b42576691303895d087
    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <script src="Thermostat.js"></script>
    <script src="interface.js"></script>
      <script type="text/javascript">
      $(document).ready(function() {
      updateTemperature();

      $('.increaseTemp').on('click', function() {
        thermostat.increaseTemperature(1);
        updateTemperature();
      });
      
      $('.decreaseTemp').on('click', function() {
        thermostat.decreaseTemperature(1);
        updateTemperature();
      });

      $('.reset').on('click', function() {
        thermostat.reset();
        updateTemperature();
      });

      $('.PSM-on').on('click', function() {
        thermostat.powerSavingModeSwitch("on");
        updateTemperature();
      });

      $('.PSM-off').on('click', function() {
        thermostat.powerSavingModeSwitch("off");
        updateTemperature();
      });

    });
      </script>
  </body>
</html>
